# old versions of files
*.old

# editor temp files
*~
.*.sw?
.sw?
\#*\#
DEADJOE

# executables, libs, other compiled stuff
*.pyc
*.pyo
*.egg
*.egg-info
*.com
*.dll
*.class
*.exe
*.o
*.so
*.lo
*.slo
*.la
*.a
*.lai
